@import "./colors";

.mat-snack-bar-container {
  background-color: $background-dark;
}

.mat-simple-snack-bar-content {
  color: $danger;
}

.mat-button-wrapper {
  color: $font-dark;
}

.transparent-btn {
  background-color: transparent;
  border: unset;
  cursor: pointer;
  padding: 0.5rem;
}
