:host {
  align-items: center;
  display: flex;
}

.header {
  padding: 0 1rem;
  width: 100%;

  &__actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__logout {
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
  }
}
