@import "~src/assets/scss/variables";

.home {
  display: grid;
  grid-template-rows: 1fr 12fr 2fr;
  grid-template-columns: 1fr 5fr;
  @include full;

  &__header {
    background-color: $background-secondary;
    grid-row: 1;
    grid-column: 2/3;
  }

  &__navbar {
    grid-row: 1/3;
    grid-column: 1/2;
    min-width: 225px;
  }

  &__content {
    background-color: $background-secondary;
    border: 1px solid $border-primary;
    grid-row: 2/3;
    grid-column: 2/3;
  }

  &__footer {
    background-color: $background-secondary;
    border: 1px solid $border-primary;
    grid-row: 3/3;
    grid-column: 1/-1;
  }
}
