@import "~src/assets/scss/variables";

.register {
  background-image: url("~src/assets/jpg/background-auth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @include center;
  @include full;
}
