@import "./assets/scss/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

*,
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-light;
}

a:hover {
  color: $font-light;
  text-decoration: none;
}

.cdk-overlay-pane {
  position: absolute !important;
  inset: 0;
}
